/* Works */
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .rightSection {
        width: 30%;
    }
    .leftSection {
        width: 60%;
    }
    .line {
        width: 100%;
    }
    .firstOffer,
    .secondOffer,
    .thirdOffer {
        width: 30%;
    }
    .deal {
        left: 78%;
    }
    .payWay {
        width: 100%;
    }
    .infoBox {
        width: 50%;
    }
}

/* Works */
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .navDesktop {
        display: flex;
    }
    .wrapper {
        margin-top: 50px;
        display: block;
    }
    .remote {
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .tags {
        display: none;
    }
    .contentWrapper {
        margin-right: 30px;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .contentWrapper h4 {
        margin-bottom: 17px;
    }
    .tags {
        display: flex;
    }
    .specialContainer {
        display: flex;
        justify-content: space-between;
    }
    .rightSection,
    .leftSection {
        width: 50%;
        margin: auto;
    }
    .rightSection {
        border: none;
        margin-top: 61px;
    }
    .galleryImg {
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .firstArticle,
    .secondArticle,
    .thirdArticle {
        display: block;
        margin: auto;
    }
    .galleryWrapper {
        margin-top: 20px;
        align-items: scenter;
    }
    .line {
        width: 100%;
    }
    .forMobile {
        display: none;
    }
    .seeMore-mobile {
        margin-top: 60px;
    }
    .finder {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .part {
        width: 80%;;
        margin-left: auto;
        margin-right: auto;
    }
    .rightSectionContent,
    .bigBrother,
    .tagCloud {
        width: 100%;
    }
    .bigBrother {
        height: 600px;
        margin-left: 10%;
    }
    .cloud-caption {
        text-align: center;
    }
    .tagCloud {
        margin-left: auto;
        margin-right: auto;
        width: 80% !important;
    }
    .priceList {
        width: 100%;
    }
    .sale {
        font-size: 32px;
    }
    .mobileBreaks {
        display: none;
    }
    .offers {
        display: block;
        width: 80%;
        margin: auto;
    }
    .offerWrapper {
        width: 209px;
        margin-left: auto;
        margin-right: auto;
    }
    .firstOffer,
    .secondOffer,
    .thirdOffer {
        transition: all 0.3s ease;
        border-radius: 10px;
        background: #fff;
        width: 50%;
        height: 340px;
        border: 4px solid #fff;
        margin-top: 20px !important;
        margin-left: auto;
        margin-right: auto;
    }
    /* :hover  */
    .firstOffer:hover,
    .secondOffer:hover,
    .thirdOffer:hover {
        cursor: pointer;
        box-shadow: 0 20px 40px rgb(0 0 0 / 30%);
        transform: scale(1.05);
        border: 4px solid #FF8D00;
    }
    /* :hover (end) */
    .signUp {
        color: #FF8D00;
        border: 1px solid #FF8D00;
    }
    .signUp:hover {
        color: #fff;
        background: rgb(255,141,0);
        background: linear-gradient(
            0deg,
            rgba(255, 141, 0, 1) 0%
            rgba(255, 164, 0, 1) 100%
        );
    }
    .deal {
        top: -15px;
        left: 83.5%;
    }
    .payWay {
        display: none;
    }
    .payWayMobile {
        display: block;
        height: 225px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .payWayMobile h5 {
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }
    .paymentWrapper {
        display: block;
    }
    .paySystems {
        margin-right: 10%;
        margin-left: 10%;
    }
    .mastercard {
        height: 40px !important;
        margin-top: 0;
    }
    .system {
        height: 30px;
    }
    .amazonPay {
        margin-right: auto;
        margin-left: auto;
    }
    .readmore {
        display: block;
        width: 100%;
    }
    .priceButtons {
        display: block;
        margin-top: 40px;
        text-align: center;
    }
    .more {
        text-align: justify;
        letter-spacing: 0.05em;
        margin-left: 10px;
    }
    .giftCard {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .footerWrapper {
        display: block;
    }
    .infoWrapper {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        margin-right: 0;
        justify-content: space-between;
    }
    .mobileSocial {
        display: block;
        margin: 0;
    }
    .infoLinks {
        padding: 0;
    }
    .footerLinks {
        display: none;
    }
    .infoBox {
        max-width: 400px;
        width: 50%;
    }
    .noMargin h5 {
        margin-top: 10px;
        margin-bottom: 10px;    
    }
    .noMargin ul {
        width: 100%;
        margin-left: -35px !important;
        margin-bottom: 10px;
    }
    .boxAbout {
        width: 100%;
    }
    .hiddenOnDesktop {
        display: flex;
    }
}

/* Works */
@media screen and (max-width: 991px) and (min-width: 769px) {
    .navDesktop {
        display: none;
    }
    .navMobile {
        display: flex;
        padding-top: 20px;
    }
    .logotype {
        margin-left: 30px;
        margin-top: 0;
        height: 30px;
    }
    .menuList {
        top: 2.8rem;
        width: 95%;
    }
    .menuList.active {
        left: 5%;
    }
    .menuList li {
        height: 55px;
    }
    .getStarted-mobile {
        margin-top: -10px;
    }
    .wrapper {
        margin-top: 85px;
        display: block;
    }
    .remote {
        height: 450px;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .tags {
        display: none;
    }
    .contentWrapper {
        margin-right: 30px;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .contentWrapper h4 {
        margin-bottom: 17px;
    }
    .tags {
        display: none;
    }
    .specialContainer {
        display: block;
    }
    .finderMobile {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex !important;
        width: 80%;
    }
    .rightSection,
    .leftSection {
        width: 80%;
        margin: auto;
    }
    .leftSection h3 {
        text-align: center;
    }
    .rightSection {
        margin-top: 61px;
        border: none;
        padding-left: 0;
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;  
    }
    .galleryImg {
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .firstArticle,
    .secondArticle,
    .thirdArticle {
        display: block;
        margin: auto;
    }
    .galleryWrapper {
        margin-top: 20px;
        align-items: center;
    }
    .line {
        width: 100%;
    }
    .forMobile {
        display: none;
    }
    .seeMore-mobile {
        margin-top: 60px;
    }
    .finder {
        display: none;
    }
    .part {
        width: 80%;;
        margin-left: auto;
        margin-right: auto;
    }
    .rightSectionContent,
    .bigBrother,
    .tagCloud {
        width: 100%;
    }
    .bigBrother {
        height: 600px;
    }
    .cloud-caption {
        text-align: center;
    }
    .tagCloud {
        margin-left: auto;
        margin-right: auto;
        width: 80% !important;
    }
    .priceList {
        width: 100%;
    }
    .sale {
        font-size: 32px;
    }
    .mobileBreaks {
        display: block;
    }
    .offers {
        display: block;
        width: 80%;
        margin: auto;
    }
    .offerWrapper {
        width: 209px;
        margin-left: auto;
        margin-right: auto;
    }
    .firstOffer,
    .secondOffer,
    .thirdOffer {
        transition: all 0.3s ease;
        border-radius: 10px;
        background: #fff;
        width: 60%;
        height: 340px;
        border: 4px solid #fff;
        margin-top: 20px !important;
        margin-left: auto;
        margin-right: auto;
    }
    /* :hover  */
    .firstOffer:hover,
    .secondOffer:hover,
    .thirdOffer:hover {
        cursor: pointer;
        box-shadow: 0 20px 40px rgb(0 0 0 / 30%);
        transform: scale(1.05);
        border: 4px solid #FF8D00;
    }
    /* :hover (end) */
    .signUp {
        color: #FF8D00;
        border: 1px solid #FF8D00;
    }
    .signUp:hover {
        color: #fff;
        background: rgb(255,141,0);
        background: linear-gradient(
            0deg,
            rgba(255, 141, 0, 1) 0%
            rgba(255, 164, 0, 1) 100%
        );
    }
    .deal {
        top: -15px;
        left: 83%;
    }
    .payWay {
        display: none;
    }
    .payWayMobile {
        display: block;
        height: 225px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .payWayMobile h5 {
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }
    .paymentWrapper {
        display: block;
    }
    .paySystems {
        margin-right: 10%;
        margin-left: 10%;
    }
    .mastercard {
        height: 40px !important;
        margin-top: 0;
    }
    .system {
        height: 30px;
    }
    .amazonPay {
        margin-right: auto;
        margin-left: auto;
    }
    .readmore {
        display: block;
        width: 100%;
    }
    .priceButtons {
        display: block;
        margin-top: 40px;
        text-align: center;
    }
    .more {
        text-align: justify;
        letter-spacing: 0.05em;
        margin-left: 10px;
    }
    .giftCard {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .footerWrapper {
        display: block;
    }
    .infoWrapper {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        margin-right: 0;
        justify-content: space-between;
    }
    .mobileSocial {
        display: block;
        margin: 0;
    }
    .infoLinks {
        padding: 0;
    }
    .footerLinks {
        display: none;
    }
    .infoBox {
        max-width: 400px;
        width: 50%;
    }
    .noMargin h5 {
        margin-top: 10px;
        margin-bottom: 10px;    
    }
    .noMargin ul {
        width: 100%;
        margin-left: -35px !important;
        margin-bottom: 10px;
    }
    .boxAbout {
        width: 100%;
    }
    .hiddenOnDesktop {
        display: flex;
    }
}

/* Works */
@media screen and (max-width: 768px) and (min-width: 576px) {
    .navDesktop {
        display: none;
    }
    .navMobile {
        display: flex;
        padding-top: 20px;
    }
    .logotype {
        margin-left: 30px;
        margin-top: 0;
        height: 30px;
    }
    .menuList {
        top: 2.8rem;
    }
    .menuList li {
            height: 60px;
    }

    .getStarted-mobile {
        margin-top: -10px;
    }
    .wrapper {
        margin-top: 80px;
        display: block;
    }
    .remote {
        height: 380px;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .tags {
        display: none;
    }
    .contentWrapper {
        margin-right: 30px;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .contentWrapper h4 {
        margin-bottom: 17px;
    }
    .tags {
        display: none;
    }
    .specialContainer {
        display: block;
    }
    .finderMobile {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex !important;
        width: 80%;
    }
    .rightSection,
    .leftSection {
        width: 80%;
        margin: auto;
    }
    .leftSection h3 {
        text-align: center;
    }
    .rightSection {
        margin-top: 61px;
    }
    .galleryImg {
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .firstArticle,
    .secondArticle,
    .thirdArticle {
        display: block;
        margin: auto;
    }
    .galleryWrapper {
        margin-top: 20px;
        align-items: center;
    }
    .line {
        width: 100%;
    }
    .forMobile {
        display: none;
    }
    .seeMore-mobile {
        margin-top: 60px;
    }
    .rightSection {
        border: none;
        padding-left: 0;
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;  
    }
    .finder {
        display: none;
    }
    .rightSectionContent,
    .bigBrother,
    .tagCloud {
        width: 100%;
    }
    .bigBrother {
        height: 600px;
    }
    .cloud-caption {
        text-align: center;
    }
    .tagCloud {
        margin-left: auto;
        margin-right: auto;
        width: 80% !important;
    }
    .priceList {
        width: 100%;
    }
    .sale {
        font-size: 32px;
    }
    .mobileBreaks {
        display: block;
    }
    .offers {
        display: block;
        width: 80%;
        margin: auto;
    }
    .offerWrapper {
        width: 209px;
        margin-left: auto;
        margin-right: auto;
    }
    .firstOffer,
    .secondOffer,
    .thirdOffer {
        transition: all 0.3s ease;
        border-radius: 10px;
        background: #fff;
        width: 70%;
        height: 340px;
        border: 4px solid #fff;
        margin-top: 20px !important;
        margin-left: auto;
        margin-right: auto;
    }
    /* :hover  */
    .firstOffer:hover,
    .secondOffer:hover,
    .thirdOffer:hover {
        cursor: pointer;
        box-shadow: 0 20px 40px rgb(0 0 0 / 30%);
        transform: scale(1.05);
        border: 4px solid #FF8D00;
    }
    /* :hover (end) */
    .signUp {
        color: #FF8D00;
        border: 1px solid #FF8D00;
    }
    .signUp:hover {
        color: #fff;
        background: rgb(255,141,0);
        background: linear-gradient(
            0deg,
            rgba(255, 141, 0, 1) 0%
            rgba(255, 164, 0, 1) 100%
        );
    }
    .deal {
        top: -15px;
        left: 82%;
    }
    .payWay {
        display: none;
    }
    .payWayMobile {
        display: block;
        height: 225px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .payWayMobile h5 {
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }
    .paymentWrapper {
        display: block;
    }
    .paySystems {
        margin-right: 10%;
        margin-left: 10%;
    }
    .mastercard {
        height: 40px !important;
        margin-top: 0;
    }
    .system {
        height: 30px;
    }
    .amazonPay {
        margin-right: auto;
        margin-left: auto;
    }
    .readmore {
        display: block;
        width: 100%;
    }
    .priceButtons {
        display: block;
        margin-top: 40px;
        text-align: center;
    }
    .more {
        text-align: justify;
        letter-spacing: 0.05em;
        margin-left: 10px;
    }
    .giftCard {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .footerWrapper {
        display: block;
    }
    .infoWrapper {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        margin-right: 0;
        justify-content: space-between;
    }
    .mobileSocial {
        display: block;
        margin: 0;
    }
    .infoLinks {

        padding: 0;
    }
    .footerLinks {
        display: none;
    }
    .infoBox {
        width: 40%;
    }
    .noMargin ul {
        width: 100%;
        margin-left: -35px !important;
        margin: 0;
    }
    .boxAbout {
        width: 100%;
    }
    .hiddenOnDesktop {
        display: flex;
    }
}

/* Works */
@media screen and (max-width: 575px) and (min-width: 416px) {
    /* Setting Size And Centre Alignment */
    .warning {
        width: 100%;
        height: 90px;
    }
    .warningWrapper {
        display: flex;
        width: 375px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 8px;
        justify-content: space-between;
    }

    /* :hover  */
    .firstOffer:hover,
    .secondOffer:hover,
    .thirdOffer:hover {
        cursor: pointer;
        box-shadow: 0 20px 40px rgb(0 0 0 / 30%);
        transform: scale(1.05);
        border: 4px solid #FF8D00;
    }
    /* :hover (end) */

    .block1 {
        width: 214px;
        display: block;
        margin-right: auto;
    }
    .block2 {
        margin-left: auto;
        width: 168px;
        display: grid;
    }
    .ip {
        margin-left: 0;
    }
    .item1 {
        order: 2;
        margin-left: auto;
        margin-right: 0;
    }
    .item2 {
        order: 1;
        margin-bottom: -5px;
        margin-left: auto;
    }
    .navDesktop {
        display: none;
    }
    .logotype {
        margin-left: 30px;
        margin-top: 0;
        height: 30px;
    }
    .navMobile {
        display: flex;
        width: 100%;
        display: flex;
        padding-top: 20px;
        margin-bottom: 50px;
    }
    .getStarted-mobile {
        margin-top: -10px;
    }
    .wrapper {
        display: block;
    }
    .remote {
        height: 400px;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .contentWrapper {
        margin-right: 30px;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .contentWrapper h4 {
        margin-bottom: 17px;
    }
    .tags {
        display: none;
    }
    .specialContainer {
        display: block;
    }
    .finderMobile {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex !important;
        width: 80%;
    }
    .rightSection,
    .leftSection {
        width: 100%;
        margin: auto;  
    }
    .leftSection h3 {
        text-align: center;
    }
    .rightSection {
        margin-top: 61px;
        border: none;
        padding-left: 0;
        margin-left: 0;
    }
    .galleryImg {
        height: 300px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .firstArticle,
    .secondArticle,
    .thirdArticle {
        display: block;
        margin: auto;
    }
    .galleryWrapper {
        margin-top: 20px;
        align-items: center;
    }
    .line {
        width: 100%;
    }
    .forMobile {
        display: none;
    }
    .seeMore-mobile {
        margin-top: 60px;
    }
    .finder {
        display: none;
    }
    .rightSectionContent,
    .bigBrother,
    .tagCloud {
        width: 100%;
    }
    .priceList {
        width: 100%;
    }
    .sale {
        font-size: 32px;
    }
    .mobileBreaks {
        display: block;
    }
    .offers {
        display: block;
        width: 80%;
        margin: auto;
    }
    .offerWrapper {
        width: 209px;
        margin-left: auto;
        margin-right: auto;
    }
    .firstOffer,
    .secondOffer,
    .thirdOffer {
        transition: all 0.3s ease;
        border-radius: 10px;
        background: #fff;
        width: 100%;
        height: 340px;
        border: 4px solid #fff;
        margin-top: 20px !important;
    }
    .signUp {
        color: #FF8D00;
        border: 1px solid #FF8D00;
    }
    .signUp:hover {
        color: #fff;
        background: rgb(255,141,0);
        background: linear-gradient(
            0deg,
            rgba(255, 141, 0, 1) 0%
            rgba(255, 164, 0, 1) 100%
        );
    }
    .deal {
        top: -15px;
        left: 305px;
    }
    .payWay {
        display: none;
    }
    .payWayMobile {
        display: block;
        height: 225px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .payWayMobile h5 {
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }
    .paymentWrapper {
        display: block;
    }
     .paySystems {
        margin-right: 10%;
        margin-left: 10%;
    }
    .mastercard {
        height: 40px !important;
        margin-top: 0;
    }
    .system {
        height: 30px;
    }
    .amazonPay {
        margin-right: auto;
        margin-left: auto;
    }
    .readmore {
        display: block;
        width: 100%;
    }
    .priceButtons {
        display: block;
        margin-top: 40px;
        text-align: center;
    }
    .more {
        text-align: justify;
        letter-spacing: 0.05em;
        margin-left: 10px;
    }
    .giftCard {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .footerWrapper {
        display: block;
    }
    .infoWrapper {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        margin-right: 0;
    }
    .mobileSocial {
        display: block;
        margin: 0;
    }
    .infoLinks {

        padding: 0;
    }
    .footerLinks {
        display: none;
    }
    .infoBox {
        width: 40%;
    }
    .noMargin ul {
        width: 100%;
        margin-left: -35px !important;
        margin: 0;
    }
    .boxAbout {
        width: 100%;
    }
    .hiddenOnDesktop {
        display: flex;
    }
}


@media screen and (max-width: 415px) and (min-width: 0px) {
    /* Setting Size And Centre Alignment */
    .warning {
        width: 100%;
        height: 90px;
    }
    .warningWrapper {
        display: flex;
        width: 375px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 8px;
        justify-content: space-between;
    }

    /* :hover  */
    .firstOffer:hover,
    .secondOffer:hover,
    .thirdOffer:hover {
        cursor: pointer;
        box-shadow: 0 20px 40px rgb(0 0 0 / 30%);
        transform: scale(1.05);
        border: 4px solid #FF8D00;
    }
    /* :hover (end) */

    .block1 {
        width: 59%;
        display: block;
        margin-right: auto;
    }
    .block2 {
        margin-left: auto;
        width: 41%;
        display: grid;
    }
    .ip {
        margin-left: 0;
    }
    .item1 {
        order: 2;
        margin-left: auto;
        margin-right: 0;
    }
    .item2 {
        order: 1;
        margin-bottom: -5px;
        margin-left: auto;
    }
    .navDesktop {
        display: none;
    }
    .logotype {
        margin-left: 10px;
        margin-top: 0;
        height: 30px;
        width: 170px ;
    }
    .navMobile {
        display: flex;
        width: 100%;
        display: flex;
        padding-top: 20px;
        margin-bottom: 50px;
    }

    .menuList li {
        height: 70%;
    }
    .getStarted-mobile {
        margin-top: -10px;
        width: 120px;
    }
    .wrapper {
        display: block;
    }
    .remote {
        height: 300px;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .contentWrapper {
        margin-right: 30px;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .contentWrapper h4 {
        margin-bottom: 17px;
    }
    .tags {
        display: none;
    }
    .specialContainer {
        display: block;
    }
    .finderMobile {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex !important;
        width: 80%;
    }
    .rightSection,
    .leftSection {
        width: 100%;
        margin: auto;  
    }
    .leftSection h3 {
        text-align: center;
    }
    .rightSection {
        margin-top: 61px;
        border: none;
        padding-left: 0;
        margin-left: 0;
    }
    .galleryImg {
        height: 200px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .firstArticle,
    .secondArticle,
    .thirdArticle {
        display: block;
        margin: auto;
    }
    .galleryWrapper {
        margin-left: 10px;
        margin-top: 20px;
        align-items: center;
    }
    .line {
        width: 100%;
    }
    .forMobile {
        display: none;
    }
    .seeMore-mobile {
        margin-top: 60px;
    }
    .finder {
        display: none;
    }
    .rightSectionContent,
    .bigBrother,
    .tagCloud {
        width: 100%;
    }
    .priceList {
        width: 100%;
    }
    .sale {
        font-size: 32px;
    }
    .mobileBreaks {
        display: block;
    }
    .offers {
        display: block;
        width: 80%;
        margin: auto;
    }
    .offerWrapper {
        width: 209px;
        margin-left: auto;
        margin-right: auto;
    }
    .firstOffer,
    .secondOffer,
    .thirdOffer {
        transition: all 0.3s ease;
        border-radius: 10px;
        background: #fff;
        width: 100%;
        height: 340px;
        border: 4px solid #fff;
        margin-top: 20px !important;
    }
    .signUp {
        color: #FF8D00;
        border: 1px solid #FF8D00;
    }
    .signUp:hover {
        color: #fff;
        background: rgb(255,141,0);
        background: linear-gradient(
            0deg,
            rgba(255, 141, 0, 1) 0%
            rgba(255, 164, 0, 1) 100%
        );
    }
    .deal {
        top: -15px;
        left: 75%;
    }
    .payWay {
        display: none;
    }
    .payWayMobile {
        display: block;
        height: 225px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .payWayMobile h5 {
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }
    .paymentWrapper {
        display: block;
    }
    .mastercard {
        height: 40px !important;
        margin-top: 0;
    }
    .system {
        height: 30px;
    }
    .amazonPay {
        margin-right: auto;
        margin-left: auto;
    }
    .readmore {
        display: block;
        width: 100%;
    }
    .priceButtons {
        display: block;
        margin-top: 40px;
        text-align: center;
    }
    .more {
        text-align: justify;
        letter-spacing: 0.05em;
        margin-left: 10px;
    }
    .giftCard {
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .footerWrapper {
        display: block;
    }
    .infoWrapper {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        margin-right: 0;
    }
    .mobileSocial {
        display: block;
        margin: 0;
    }
    .infoLinks {

        padding: 0;
    }
    .footerLinks {
        display: none;
    }
    .infoBox {
        width: 50%;
    }
    .noMargin ul {
        width: 100%;
        margin-left: -35px !important;
        margin: 0;
    }
    .boxAbout {
        width: 100%;
    }
    .hiddenOnDesktop {
        display: flex;
    }
}