body {
    padding: 0;
    margin: 0;
}

a, 
p {
    margin: 0;
    text-decoration: none;
    color: #323642;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

/* Setting Font To All Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #323642;
}

/* Setting Size And Centre Alignment */
.container {
    width: 1200px;
    margin: auto;
}

.specialContainer {
    display: flex;
}


/* Header (Begin) */
.warning {
    display: flex;
    background: #22252E;
}

.warningWrapper {
    margin: 0 auto;
    width: 615px;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
}

.block1, .block2 {
    display: flex;
}

.ip {
    margin-left: 34px;
}

.text {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #889099;
    margin-right: 35px;
}

.orange {
    margin: 0;
    font-weight: 700;
    padding-left: 26px;
    color: #FF8D00;
    background: url('../img/triangle.svg') no-repeat center left;
}

.info {
    height: 16px;
    margin-top: 7px;
    color: #fff;
}

.info:hover {
    text-decoration: underline;
    font-weight: 700;
}

#cross {
    height: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
}

.nav {
    display: flex;
    width: 1600px;
    margin: 0 auto;
    margin-left: 50px;
} 

.list-item:hover {
    cursor: pointer;
    border-bottom: 3px solid #4CB649;
}

#apps:hover {
    cursor: pointer;
    text-decoration: underline 3px #4CB649;
}

.logo {
    display: flex;
    height: 36px;
    margin-top: 42px;
    margin-bottom: 22px;
}

.navigationList {
    display: flex;
    list-style: none;
    padding-top: 40px;
    margin-left: 100px;
}

.nav ul li {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #323642;
    letter-spacing: 0.05em;
    height: 19px;
}

.list-item {
    background: url('../img/pointer.svg') no-repeat center right;
    margin-right: 36px;
}

.nav ul li span {
    display: flex;
    margin-right: 24px;
}

#apps {
    margin-right: 36px;
}

.btns {
    display: flex;
    margin-top: 40px;
    margin-left: 220px;
}

.btns a {
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    border: solid 1px #4CB649;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 40px;
    height: 25px;
}

.login {
    background: #fff;
    width: 90px;
    color: #4CB649;
}

.get {
    color: #4CB649;
    width: 160px;
    margin-left: 10px;
}

.login,
.get,
.signUp, 
.leftSection-button {
    transition: all 0.5s ease;
}

.login:hover,
.get:hover,
.signUp:hover,
.leftSection-button:hover {
    color: #fff;    
    background: rgb(76,182,73);
    background: linear-gradient(0deg, rgba(76,182,73,1) 0%, rgba(92,221,89,1) 100%);    
}

.wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #D7D8D9;
    border-radius: 10px;
}

.remote {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contentWrapper {
    margin-right: 60px;
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 41px;
}

.contentWrapper h4 {    
    margin-bottom: 87px;
    font-weight: 300;
    color: #22252E;
    font-size: 24px;
}

.author {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
}


#vertical-slash {
    margin-left: 10px;
    margin-right: 10px;
}

#date {
    color: #889099;
    text-transform: uppercase;
}


.main-articleAuthor {
    margin-bottom: 15px;
}

.headerTags {
    margin-top: 15px;
}

.comments {
    margin-left: 10px;
    color: #889099;
}

#quantity {
    font-size: 14px;
    margin-left: 10px;
}

.tags {
    display: flex;
    margin-top: 30px;
    background: #F7F7F7;
    border-radius: 10px;
    padding-top: 24px;
    padding-right: 35px;
    padding-bottom: 17px;
    padding-left: 32px;
    margin-bottom: 40px;
}

.commentaries {
    margin-top: 15px;
}

.directlyTags {
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
}

.directlyTags h4 {
    font-weight: 500;
    color: #323642;
    font-size: 14px;
    margin-top: 9px;
}

.directlyTags ul {
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.directlyTags ul li {
    margin-right: 25px;
}

.tag {
    font-size: 14px;
    letter-spacing: .05em;
    color: #4CB649;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.tagButtons {
    display: flex;
    margin-left: auto;
}

.tagButtons a {
    margin-top: 10px;
    color: #323642;
    text-transform: uppercase;
    font-size: 14px;
}

.contacts {
    margin-left: 40px;
}
/* Header (End) */


/* Section.mainContent (Begin) */
.mainContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.leftSection {
    margin-right: auto;
    width: 720px;
}

.leftSection h3 {
    font-weight: 300;
    font-size: 32px;
    color: #22252E;
    margin-bottom: 41px;
}

.first,
.second,
.third {
    display: flex;
    justify-content: space-between;
}

.galleryWrapper {
    margin-left: 40px;
}

.articleName {
    color: #323642;
    font-weight: 300;
    font-size: 24px;
}

.galleryAuthor {
    margin-bottom: 15px;
    margin-top: 15px;
}

.articleAuthor {
    color: #323642;
    font-weight: 400;
    font-size: 14px;    
}

.line {
    margin-right: auto;
    width: 740px;
    height: 1px;
    background: #EBECED;
    margin-top: 30px;
    margin-bottom: 30px;
}

.line-to-first {
    margin-top: 55px;
}

.leftSection-button {
    width: 100px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 10px 78px;
    border-radius: 40px;
    margin-bottom: 45px;
    background: none;
    color: #4CB649;
    border: 1px solid #4CB649;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.rightSection {
    width: 380px;
    border-left: 1px solid #EBECED;
    margin-left: auto;
    padding-left: 40px;
}

.scrollbarHeader {
    display: flex;
    height: 60px;
    width: 340px;
    border: 1px solid #D7D8D9;
    border-radius: 10px;
}

.loupe {
    margin-left: 20px;
    margin-top: 17px;
    width: 18px;
    height: 18px;
}

.scrollbarCaption {
    padding-left: 20px;
    margin-top: 17px;
    font-size: 18px !important;
    line-height: 24px;
}

.scrollbarContent {
    padding-left: auto;
    width: 340px;
}

.scrollbarContent h4 {
    font-size: 24px;
    font-weight: 300;
}

.part {
    margin-top: 32px;
    border-bottom: 1px solid #EBECED;
}

.partCaption {
    padding-top: 20px;
    height: 40px;
    background: url('../img/bell.svg') no-repeat left center;
    text-align: center;
}

.scrollbarList li {
    color: #4CB649;
    margin-bottom: 20px;
}

#last {
    margin-bottom: 32px;
}

.scrollbarList li span {
    color: #323642;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.popular {
    background: url('../img/wi-fi.svg') no-repeat left center;
}

.bigBrother {
    margin-top: 32px;
}

/* Tag Cloud Design (Begin) */
#cloud-caption {
    margin-top: 31px;
    margin-bottom: 17px;
}

.tagCloud {
    width: 324px;
    text-align: justiЫfy;
}

.tagCloud a {
    color: #323642;
}

.tagLvl1 {
    font-weight: 300;
    font-size: 10px;
}

.tagLvl2 {
    font-weight: 400;
    font-size: 12px;
}

.tagLvl3 {
    font-weight: 400;
    font-size: 14px;
}

.tagLvl4 {
    font-weight: 500;
    font-size: 16px;
}

.tagLvl5 {
    font-weight: 500;
    font-size: 18px;
}

.tagLvl6 {
    font-weight: 700;
    font-size: 30px;
}
/* Tag Cloud Design (End) */
/* Header (End) */

/* Section.priceList (Begin) */
.priceList {
    background-image: linear-gradient(to left top, #272b35, #2c313c, #323643, #373c4a, #3d4251);
}

.sale {
    padding-top: 100px;
    padding-bottom: 41px;
    font-weight: 300;
    font-size: 48px;
    color: #fff;
    text-align: center;
}

.offers {
    display: flex;
    justify-content: space-between;
    padding-bottom: 51px;
}

.offers h5 {
    font-size: 14px;
    font-weight: 500;
    color: #323642;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 10px;
}

.offers h6 {
    color: #323642;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.firstOffer,
.secondOffer,
.thirdOffer {
    transition: all 0.3s ease;
    padding-top: 51px;
    border-radius: 10px;
    background: #fff;
    width: 380px;
    height: 340px;
    border: 4px solid #fff;
}

.firstOffer:hover,
.secondOffer:hover,
.thirdOffer:hover {
    cursor: pointer;
    box-shadow: 0 20px 40px rgb(0 0 0 / 30%);
    transform: scale(1.05);
    border: 4px solid #4CB649;
}

.greenLine {
    display: flex;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 25px;
    height: 2px;
    background: #4CB649;
}

.price {
    margin: auto;
    display: flex;
    width: 175px;
    height: 75px;
}

.deal {
    display: flex;
    position: relative;
    top: -68px;
    left: 315px;
    width: 80px;
    height: 80px;
}

#currency,
#period {
    color: #22252E;
    font-size: 24px;
    font-weight: 300;
}

#rate {
    margin: 0;
    font-weight: 300; 
    font-size: 56px;
}

#currency {
    margin-top: 14px;
    margin-right: 7px;
}

#period {
    margin-left: 8px;
}

.greyLine {
    display: flex;
    width: 200px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background: #EBECED;
    margin-bottom: 18px;
}

.firstGreyLine {
    margin-bottom: 29px;
}

#red {
    color: #F24458;
    text-decoration: line-through;
    margin-right: 11px;
}

#under-line {
    line-height: 25px;
}

.signupBtn {
    display: flex;
    margin: auto;
    width: 205px;
}

.first-signup-btn {
    margin-top: 50px;
}

.signUp {
    border: 1px solid #4CB649;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    color: #4CB649;
    margin-left: 20px;
    padding-top: 10px;
    padding-right: 61px;
    padding-bottom: 10px;
    padding-left: 61px;
}

.payWay {
    display: flex;
    margin: auto;
    width: 970px;
    height: 100px;
    background: rgba(255, 255, 255, .8 );
    border-radius: 20px;
}

.payWay h5 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 45px;
    font-size: 18px;
    font-weight: 300;
}

.paymentSystems {
    display: flex;
    list-style: none;
}

.paymentSystems li {
    height: 80px;
    margin-left: 20px;
    transition: all 0.3s ease;
}

.paymentSystems li:hover {
    box-shadow: 0 20px 40px rgb(0 0 0 / 30%);
    border-radius: 30px;
    transform: scale(1.2);
}

.system {
    height: 80px;
    width: 80px;
}

.mastercard {
    margin-top: 20px;
    height: 50px;
    width: 80px;
}

.readmore {
    margin-top: 15px;
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 55px;
}

.more {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #4CB649;
}

.readmore img {
    transform: rotate(90deg);
    margin-left: 15px;
}
/* Section.priceList (End) */


/* Footer (Begin) */
.footer {
    display: flex;
}

.footer-logo {
    margin-top: 72px;
    margin-bottom: 72px;
}

.footer h5 {
    text-transform: uppercase;
    color: #323642;
    font-size: 14px;
    font-weight: 500;
}

.leftContainer {
    display: flex;
}

.infoBox {
    display: flex;
}

#infoLinks {
    padding: 0;
    list-style: none;
}

#infoLinks li {
    margin-top: 7px;
}

#infoLinks li a {
    font-size: 14px;
    color: #889099;
}

#infoLinks li a:hover {
    text-decoration: underline;
}

.infoContent {
    width: 275px;
}

.boxAbout p {
    font-size: 14px;
    color:  #889099;
}

.social {
    padding-bottom: 90px;
}

.social ul {
    display: flex;  
}

.social ul li {
    margin-left: 30px;
}

#facebook {
    margin-left: 0px !important;
}

.social-img {
    height: 30px;
}
/* Footer (End) */